<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Swup Demo{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body
            {#data-controller="extends-swup symfony--ux-swup--swup"#}
            data-controller="symfony--ux-swup--swup"
            data-containers="#swup #nav" {# list of selectors separated by spaces #}
            data-theme="slide" {# or "fade", the default #}
            data-animate-history-browsing="data-animate-history-browsing" {# animate history browsing #}
    >
        {% include '_components/navbar.html.twig' %}

        <div class="container" id="swup">
            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
